.loginpage {
  label {
    font-weight: 700;
  }
  .container {
    max-width: 1280px;
    width: 100%;
  }
  .visually-hidden {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }
  // B START //
  // ************** //
  // //// //// //// /// 
  .b {
    .one-column-container {
      background-color: #39aeff;
      color: #fff;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: $font-semi-bold;
      font-weight: 400;
    }
    .panel {
      border-radius: 8px;
      background-color: #fff;
      color: #000;
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
    .form-control {
      border-radius: 6px;
      border-width: 2px;
    }
    .need-help {
      background-color: #0699ff;
      border-radius: 8px;
    }
    .footer {
      background-color: #fff;
      color: #393939;
      a {
        color: #39aeff;
      }
    }
    .btn {
      min-width: 10rem;
      &-secondary {
        background-color: #39aeff;
        color: #fff;
        border: 2px solid #fff;
        padding: 4px 15px;
        &:hover {
          background-color: #fff;
          color: #39aeff;
          .btn__icon--right,
          .btn__icon--left {
            fill: #39aeff;
          }
        }
      }
      &__text--right {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 32px;
        flex: 1;
        color: inherit;
        user-select: none;
        &:only-child {
          margin: 0;
        }
      }
      &__icon {
        &--right,
        &--left {
          width: 32px;
          height: 32px;
          flex-shrink: none;
          fill: #fff;
        }
        &--right {
          &:first-child {
            margin-left: -5px;
            transform: translateX(-5px);
          }
          &:last-child {
            margin-right: -5px;
            transform: translateX(5px);
          }
        }
      }
    }
    .need-help__btn {
      border: 2px solid #fff;
      background-color: #0699ff;
    }
  }
  // ******* B END ******** //
  .one-column-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .main-body {
      flex: 1 0 auto;
    }
  }
  .PageHeader {
    color: #fff;
    margin-bottom: 40px;
    background-color: #d9e6da;
    &--b {
      background-color: #fff;
      align-content: center;
      .PageHeader__image {
        text-align: center;
        img {
          height: 2.5rem;
          margin: 1rem;
        }
      }
    }
    &__image {
      max-width: 1440px;
      margin: auto;
      background-size: cover;
      background-position: center 80%;
      background-repeat: no-repeat;
      height: 100%;
      padding-bottom: 10px;
    }
    &__logo {
      h2 {
        font-family: $font-light;
        font-size: 1rem;
        font-weight: lighter;
        color: #57595e;
      }
    }
    &__title {
      h1 {
        margin: 0 auto;
        color: #000;
        text-shadow: none;
      }
    }
  }
  .panel {
    padding: 1.875rem;
    margin-bottom: 2.5rem;
  }
  .form-group {
    .label {
      position: relative;
      display: flex;
    }
  }
  .HelpIcon {
    &:link,
    &:visited {
      display: inline-block;
      height: 28px;
      position: relative;
      right: -10px;
      text-indent: -9999px;
      width: 28px;
      top: -2px;
    }
  }
  .help-tooltip {
    width: 28px;
    height: 28px;
    fill: #000;
    display: block;
    &__outer-ring {
      transition: transform .25s ease;
      transform-origin: center center;
    }
    &__outer-overlay {
      transform-origin: center center;
      transition: transform .25s ease, opacity .25s ease, fill .25s ease;
      transform: scale(0);
      opacity: 0;
      fill: #92b4d6;
    }
    &__question {
      transition: fill .25s ease;
    }
  }
  .input {
    &-xl {
      max-width: 280px;
    }
  }
  .form-group.has-error .input-group {
    box-shadow: none;
  }
  .need-help {
    padding: 20px;
    border-radius: 4px;
    min-width: 200px;
    &__btn {
      border: 0;
      white-space: normal;
      min-width: 100px;
      width: 100%;
    }
  }
  .footer {
    padding: 20px;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    p {
      margin-bottom: 0;
    }
    a {
      color: #39aeff;
    }
  }
  .egain-chat {
    padding-top: 10px;
    .need-help__btn {
      margin-bottom: 10px;
    }
  }
}
